*.bak
*.pyc
*.aux
*.bib
*.dvi
*.ps
*.pdf
*.toc
*.backup
*.orig
*.log
*.out
*.bbl
*.synctex.gz
*.blg
result_images/
.hypothesis/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
