numpy # pyrate dependency
scipy # pyrate dependency
sympy # pyrate dependency
matplotlib # pyrate dependency
pyyaml # pyrate dependency
nose # test automation
hypothesis # quickcheck
coverage # test coverage
coveralls # coveralls.io CI
